# trajectory controllers ---------------------------------------
#thor:
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50  
    
  left_arm_traj_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - l_shoulder_pitch
      - l_shoulder_roll
      - l_shoulder_yaw
      - l_elbow
      - l_wrist_yaw1
      - l_wrist_roll
      - l_wrist_yaw2
      
    gains: # Required because we're controlling an effort interface
      l_shoulder_pitch: {p: &kp_shoulder_pitch 300,  d: &kd_shoulder_pitch 0.01, i: &ki_default 0, i_clamp: &ki__clamp_default 0}
      l_shoulder_roll: {p: &kp_shoulder_roll 300,  d: &kd_shoulder_roll 0.01, i: *ki_default, i_clamp: *ki__clamp_default}
      l_shoulder_yaw: {p: &kp_default_arms 50,  d: &kd_default_arms 0.01, i: *ki_default, i_clamp: *ki__clamp_default}
      l_elbow: {p: &kp_elbow 50,  d: &kd_elbow 0.01, i: *ki_default, i_clamp: *ki__clamp_default}
      l_wrist_yaw1: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      l_wrist_roll: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      l_wrist_yaw2: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      
    constraints:
      goal_time: &goal_time_constraint 4.0
      stopped_velocity_tolerance: 1.0
      l_shoulder_pitch:
        goal: &goal_pos_constraint 0.5
        trajectory: &trajectory_pos_constraint 1.0
      l_shoulder_roll:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      l_shoulder_yaw:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      l_elbow:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      l_wrist_yaw1:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      l_wrist_roll:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      l_wrist_yaw2:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
        
    stop_trajectory_duration: 1.0

  right_arm_traj_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - r_shoulder_pitch
      - r_shoulder_roll
      - r_shoulder_yaw
      - r_elbow
      - r_wrist_yaw1
      - r_wrist_roll
      - r_wrist_yaw2
      
    gains: # Required because we're controlling an effort interface
      r_shoulder_pitch: {p: *kp_shoulder_pitch,  d: *kd_shoulder_pitch, i: *ki_default, i_clamp: *ki__clamp_default}
      r_shoulder_roll: {p: *kp_shoulder_roll,  d: *kd_shoulder_roll, i_clamp: *ki__clamp_default}
      r_shoulder_yaw: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      r_elbow: {p: *kp_elbow,  d: *kd_elbow, i_clamp: *ki__clamp_default}
      r_wrist_yaw1: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      r_wrist_roll: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      r_wrist_yaw2: {p: *kp_default_arms,  d: *kd_default_arms, i: *ki_default, i_clamp: *ki__clamp_default}
      
    constraints:
      goal_time: *goal_time_constraint
      stopped_velocity_tolerance: 1.0
      r_shoulder_pitch:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      r_shoulder_roll:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      r_shoulder_yaw:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      r_elbow:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      r_wrist_yaw1:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      r_wrist_roll:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
      r_wrist_yaw2:
        goal: *goal_pos_constraint
        trajectory: *trajectory_pos_constraint
        
    stop_trajectory_duration: 1.0
    
  torso_traj_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - waist_pan
      - waist_tilt
      
    gains: # Required because we're controlling an effort interface
      waist_pan: {p: &kp_default 2000,  d: &kd_default 0.5, i: *ki_default, i_clamp: *ki__clamp_default}
      waist_tilt: {p: 2000,  d: 10, i: *ki_default, i_clamp: *ki__clamp_default}     

    constraints:
      goal_time: *goal_time_constraint
      waist_pan:
        goal: *goal_pos_constraint
      waist_tilt:
        goal: *goal_pos_constraint
    
    stop_trajectory_duration: 1.0
    
  head_traj_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - head_pan
      - head_tilt
      
    gains: # Required because we're controlling an effort interface
      head_pan: {p: *kp_default_arms,  d: 0, i: *ki_default, i_clamp: *ki__clamp_default}
      head_tilt: {p: *kp_default_arms,  d: 0, i: *ki_default, i_clamp: *ki__clamp_default}

    constraints:
      goal_time: *goal_time_constraint
      head_pan:
        goal: *goal_pos_constraint
      head_tilt:
        goal: *goal_pos_constraint
    
    stop_trajectory_duration: 1.0 
    
    
  waist_lidar_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - waist_lidar
      
    gains: # Required because we're controlling an effort interface
      waist_lidar: {p: *kp_default_arms,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}

    constraints:
      goal_time: *goal_time_constraint
      waist_lidar:
        goal: *goal_pos_constraint
        
    stop_trajectory_duration: 1.0      
      
      
  left_leg_traj_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - l_hip_yaw
      - l_hip_roll
      - l_hip_pitch
      - l_knee
      - l_ankle_pitch
      - l_ankle_roll
      
    gains: # Required because we're controlling an effort interface
      l_hip_yaw: {p: *kp_default,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      l_hip_roll: {p: *kp_default,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      l_hip_pitch: {p: 300,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      l_knee: {p: *kp_default,  d: 20, i: *ki_default, i_clamp: *ki__clamp_default}
      l_ankle_pitch: {p: 1000,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      l_ankle_roll: {p: 1000,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      
    constraints:
      goal_time: *goal_time_constraint
      l_hip_yaw:
        goal: *goal_pos_constraint
      l_hip_roll:
        goal: *goal_pos_constraint
      l_hip_pitch:
        goal: *goal_pos_constraint
      l_knee:
        goal: *goal_pos_constraint
      l_ankle_pitch:
        goal: *goal_pos_constraint
      l_ankle_roll:
        goal: *goal_pos_constraint     
    
    stop_trajectory_duration: 0.0
      
  right_leg_traj_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - r_hip_yaw
      - r_hip_roll
      - r_hip_pitch
      - r_knee
      - r_ankle_pitch
      - r_ankle_roll
      
    gains: # Required because we're controlling an effort interface
      r_hip_yaw: {p: *kp_default,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      r_hip_roll: {p: *kp_default,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      r_hip_pitch: {p: 300,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      r_knee: {p: *kp_default,  d: 20, i: *ki_default, i_clamp: *ki__clamp_default}
      r_ankle_pitch: {p: 1000,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}
      r_ankle_roll: {p: 1000,  d: *kd_default, i: *ki_default, i_clamp: *ki__clamp_default}        
      
    constraints:
      goal_time: *goal_time_constraint
      r_hip_yaw:
        goal: *goal_pos_constraint
      r_hip_roll:
        goal: *goal_pos_constraint
      r_hip_pitch:
        goal: *goal_pos_constraint
      r_knee:
        goal: *goal_pos_constraint
      r_ankle_pitch:
        goal: *goal_pos_constraint
      r_ankle_roll:
        goal: *goal_pos_constraint        
    
    stop_trajectory_duration: 0.0   
      
