<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="johnny5" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- some parameters -->
  <xacro:property name="pi" value="3.141592654" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find thor_mang_gazebo)/urdf/johnny5.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find thormang3_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find thormang3_description)/urdf/thormang3.structure.torso.xacro" />
  
  <xacro:include filename="$(find thormang3_description)/urdf/thormang3.transmissions.xacro" />
</robot>
