<?xml version="1.0"?>

<launch>
  <!-- Set use of simulation time to true -->
  <param name="use_sim_time" value="true" />

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotis_humanoid_description)/robots/$(optenv THOR_ROBOT_TYPE thor_mang)_tud_simple.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -model robot_description
          -J head_y 0
          -J head_p 0
          -J l_leg_an_p 0.55
          -J l_leg_an_r -0.070400015
          -J l_arm_el_y 0
          -J l_leg_hip_p -0.789868906
          -J l_leg_hip_r -0.074598838
          -J l_leg_hip_y 0.011298883
          -J l_leg_kn_p 1.189302819
          -J l_arm_sh_p1 0
          -J l_arm_sh_r 0.7
          -J l_arm_sh_p2 0
          -J l_arm_wr_r 0
          -J l_arm_wr_y 0
          -J l_arm_wr_p 0
          -J r_leg_an_p -0.55
          -J r_leg_an_r 0.070400076
          -J r_arm_el_y 0
          -J r_leg_hip_p 0.78992388
          -J r_leg_hip_r 0.074598608
          -J r_leg_hip_y -0.011301546
          -J r_leg_kn_p -1.18929649
          -J r_arm_sh_p1 0
          -J r_arm_sh_r -0.7
          -J r_arm_sh_p2 0
          -J r_arm_wr_r 0
          -J r_arm_wr_y 0
          -J r_arm_wr_p 0
          -J torso_y 0
          -x 0
          -y 0
          -z 0.71
          -R 0
          -P 0.15
          -Y 0"
    respawn="false" output="screen" />

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/thor_mang/joint_states" />
  </node>
  
  <node name="relay_head_image" pkg="topic_tools" type="relay" args="/head_cam/image_raw /camera/image_raw" />
  <node name="relay_head_camera_info" pkg="topic_tools" type="relay" args="/head_cam/camera_info /camera/camera_info" />  
  
</launch>
