<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" value="true" />

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thor_mang_tud_description)/robots/$(optenv THOR_ROBOT_TYPE thor_mang)_tud_simple.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -z 0.9
          -model robot_description"
    respawn="false" output="screen" />

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/thor_mang/joint_states" />
  </node>
</launch>
