<?xml version="1.0"?>

<launch>
  
  <arg name="world" default="worlds/empty.world" />
  <arg name="gazebo_args" default="" />

  <include file="$(find thor_mang_gazebo)/launch/start_thor_mang_default_with_controllers.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="gazebo_args" value="$(arg gazebo_args)"/>
  </include>
  
  <include file="$(find thor_mang_onboard_launch)/launch/perception_common.launch"/>

  <include file="$(find thor_mang_onboard_launch)/launch/manipulation_controllers.launch"/>

  <include file="$(find vigir_head_control)/launch/head_control_node.launch"/>
  
  <!-- Start the spinning of the head lidar -->
  <node name="set_head_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -l /thor_mang/head_lidar_controller/command std_msgs/Float64 'data: 1.0'"/>

  <!--Not required as we stream images directly per default-->
  <!--<include file="$(find thor_mang_onboard_launch)/launch/no_comms_bridge/head_camera_relay.launch"/>-->

  <node name="state_estimator" pkg="biped_state_estimator" type="state_estimator_test" output="screen" ns="/thor_mang"/>

  <include file="$(find thor_mang_control_mode_switcher)/launch/control_mode_switcher_simulation.launch"/>

  <include file="$(find vigir_flexbe_launch)/launch/behavior_onboard_thor.launch"/>
  
</launch>
