<?xml version="1.0"?>

<launch>
  
  <arg name="world" default="empty_world.launch" />
  
  <param name="use_sim_time" value="true" />
  
  
  <include file="$(find thor_mang_gazebo)/launch/$(arg world)">
    <arg name="paused" value="true"/>
  </include>
  
  <!--
  <include file="$(find hector_gazebo_worlds)/launch/drc_final_qual_4_step_block.launch">
    <arg name="args" value="-u" />
  </include>
  -->

  <include file="$(find thor_mang_gazebo)/launch/spawn_thor_mang_default.launch"/>
  
  <include file="$(find thor_mang_gazebo_ros_control)/launch/$(optenv THOR_ROBOT_TYPE thor_mang)_default_controllers.launch"/>
  
</launch>
