<?xml version="1.0" ?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="robot_name" default="johnny5" />
  <arg name="use_hands" default="$(optenv USE_HANDS false)" />
  <arg name="position_controller" default="true" />
  <arg name="world_name" default="empty" />
  <arg name="pinned" default="false" />
  <arg name="ground_truth" default="true" />
  <arg name="paused" default="true" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />

  <!-- Start Basics & Gazebo -->
  <include file="$(find thor_mang_gazebo)/launch/start_all.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="use_hands" value="$(arg use_hands)" />
    <arg name="position_controller" value="$(arg position_controller)" />
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="pinned" value="$(arg pinned)" />
    <arg name="ground_truth" value="$(arg ground_truth)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- Start onboard common -->
  <include file="$(find thor_mang_onboard_launch)/launch/onboard_common.launch">
    <arg name="gazebo" value="true" />
  </include>    
  
  <!-- Start TF publisher for the RealSense camera-->
  <include file="$(find thor_mang_gazebo)/launch/start_realsense_tf_publisher.launch"></include>
</launch>
