<?xml version="1.0"?>

<launch>
  <arg name="world" default="empty_world.launch" />
  <arg name="gazebo_args" default="" />

  <include file="$(find thor_mang_gazebo)/launch/start_thor_mang_default_with_controllers.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="gazebo_args" value="$(arg gazebo_args)"/>
  </include>
  
  <include file="$(find thor_mang_onboard_launch)/launch/perception_common.launch"/>

  <include file="$(find thor_mang_onboard_launch)/launch/manipulation_controllers.launch"/>

  <include file="$(find vigir_head_control)/launch/head_control_node.launch"/>
  
  <include file="$(find thor_mang_onboard_launch)/launch/no_comms_bridge/head_camera_relay.launch"/>

<node name="state_estimator" pkg="biped_state_estimator" type="state_estimator_test" output="screen" ns="/thor_mang"/>

  <include file="$(find thor_mang_control_mode_switcher)/launch/control_mode_switcher_simulation.launch"/>

  <include file="$(find vigir_flexbe_launch)/launch/behavior_onboard_thor.launch"/>
  
</launch>
