<?xml version="1.0" ?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="robot_name" default="thormang3" />
  <arg name="l_hand_type" default="$(optenv L_HAND_TYPE none)" />
  <arg name="r_hand_type" default="$(optenv R_HAND_TYPE none)" />
  <arg name="position_controller" default="true" />
  <arg name="start_onboard" default="false" />

  <arg name="world_name" default="worlds/empty.world" />
  <arg name="pinned" default="false" />
  <arg name="ground_truth" default="true" />
  <arg name="paused" default="true" />
  <arg name="gazebo_gui" default="false" />
  <arg name="rviz" default="true" />
  
  <!-- start Gazebo -->
  <include file="$(find thor_mang_gazebo)/launch/gazebo.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="l_hand_type" value="$(arg l_hand_type)" />
    <arg name="r_hand_type" value="$(arg r_hand_type)" />
    <arg name="position_controller" value="$(arg position_controller)" />
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="pinned" value="$(arg pinned)" />
    <arg name="ground_truth" value="$(arg ground_truth)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gazebo_gui" value="$(arg gazebo_gui)" />
  </include>

  <group ns="$(arg robot_name)">
    <!-- start robot basics -->
    <include file="$(find thor_mang_onboard_launch)/launch/robot_basics.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="l_hand_type" value="$(arg l_hand_type)" />
      <arg name="r_hand_type" value="$(arg r_hand_type)" />
      <arg name="gazebo" value="true" />
      <arg name="pinned" value="$(arg pinned)" />
      <arg name="ground_truth" value="$(arg ground_truth)" />
    </include>

    <!-- THORMANG3 Manager -->
    <include file="$(find thormang3_manager)/launch/thormang3_manager.launch">
      <arg name="robot_name"  value="$(arg robot_name)" />
      <arg name="l_hand_type" value="$(arg l_hand_type)" />
      <arg name="r_hand_type" value="$(arg r_hand_type)" />
      <arg name="gazebo"      value="true" />
    </include>
  </group>

  <group if="$(arg rviz)">
    <!-- start onboard software -->
    <include file="$(find thor_mang_onboard_launch)/launch/onboard_common.launch" if="$(arg start_onboard)">
      <arg name="gazebo" value="true" />
    </include>

    <!-- start rviz -->
    <include file="$(find thor_mang_ui_launch)/launch/rviz.launch"  />

    <!-- start supervisor -->
    <include file="$(find thor_mang_ui_launch)/launch/supervisor.launch" />

    <!-- start auto unpause script -->
    <node name="unpause_gazebo" pkg="thor_mang_gazebo" type="unpause_gazebo.sh" args="$(arg robot_name)" output="screen" />
  </group>
</launch>
